<link rel="import" href="../polymer/polymer.html">

<!--
<%= elementDescription %> [**Live demo**](../<%= elementName %>/demo.html)

<iframe src="http://ghbtns.com/github-btn.html?user=<%= githubUsername %>&repo=<%= elementName %>&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>

##### Example

    <<%= elementName %>></<%= elementName %>>

@element <%= elementName %>
@blurb <%= elementDescription %>
@status alpha
@homepage <%= githubUsername %>.github.io/<%= elementName %>
-->
<polymer-element name="<%= elementName %>" attributes="notitle">

  <template>

    <link rel="stylesheet" href="<%= elementName %>.css" />

    <content></content>

  </template>

  <script>

    Polymer('<%= elementName %>', {
      /**
       * The `noevent` event is not actually fired from here,
       * we document it as an example of documenting events.
       * 
       * @event noevent
       */

      /**
       * The `notitle` attribute does not yet have a purpose.
       * 
       * @attribute notitle
       * @type string
       */
      notitle: '',
      
      /**
       * The `aProp` is a property that does something cool.
       * 
       * @property aProp
       * @type bool
       */
      aProp: false,

      ready: function() {
      },

      /**
       * The `task` method does no work at this time.
       * 
       * @method task
       * @return {Object} Returns undefined.
       * @param {String} dummy Serves no purpose today.
       */
      task: function(dummy) {
      }

    });

  </script>

</polymer-element>
