<link rel="import" href="../polymer/polymer.html">

<!--
<%= elementDescription %> [**Live demo**](../<%= elementName %>/demo.html)

<iframe src="http://ghbtns.com/github-btn.html?user=<%= githubUsername %>&repo=<%= elementName %>&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>

##### Example

    <<%= elementName %>></<%= elementName %>>

@element <%= elementName %>
@blurb <%= elementDescription %>
@status alpha
@homepage http://<%= githubUsername %>.github.io/<%= elementName %>
-->
<polymer-element name="<%= elementName %>" attributes="notitle author">

  <template>

    <link rel="stylesheet" href="<%= elementName %>.css" />
    
    <h1>Hello from &lt;<%= elementName %>&gt;</h1>
    <content></content>

  </template>

  <script>

    Polymer('<%= elementName %>', {
      /**
       * The `author` attribute sets an initial author
       * 
       * @attribute author
       * @type string
       */
      author: '<%= githubUsername %>',
      
      /**
       * `fancy` is a property that does something fancy.
       * 
       * @property fancy
       * @type bool
       */
      fancy: false,

      ready: function() {
        // Ready is a lifecycle callback.
        // You can do setup work in here.
        // More info: http://www.polymer-project.org/docs/polymer/polymer.html#lifecyclemethods
      },

      /**
       * The `sayHello` method will return a greeting
       * 
       * @method sayHello
       * @return {String} Returns a string greeting.
       * @param {String} greeting Pass in a specific greeting
       */
      sayHello: function(greeting) {
        var response = greeting || 'Hello World!';
        return '<%= elementName %> says, ' + response;
      },

      /**
       * The `<%= elementName %>-lasers-success` event is fired whenever we
       * call fireLasers.
       * 
       * @event <%= elementName %>-lasers-success
       */

      /**
       * The `fireLasers` method will fire the lasers. At least
       * it will dispatch an event that claims lasers were fired :)
       * 
       * @method fireLasers
       */
      fireLasers: function() {
        this.fire('<%= elementName %>-lasers-success', { sound: 'Pew pew pew!' });
      }

    });

  </script>

</polymer-element>
